body {
  font-family: 'Montserrat-light', sans-serif;
  padding: 0 8px;
}

h1 {
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
  font-family: 'Montserrat';
  font-weight: bold;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.4rem;
}

p {
  color: #8f8f8f;
  font-weight: 600;
}



/* All Classes */

.container-fluid {
  padding: 3% 15% 7%;
}

/* navigation bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light", sans-serif;
}

/* Download Buttons */

.download-buttons {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features icons and Middle part */

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials section */

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing section */

.pricing-card {
  padding: 3% 2%;
}

.card {
  border-radius: 10px;
}

/* Call to action */

.cta-text {
  color: #fff;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer section */

.social-media-icons {
  padding: 20px 10px;
}

/* All Id's */
#title {
  margin-top: 1px;
  color: #fff;
  background-color: #ff4c68;
  border-radius: 14px;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  color: #fff;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

#pricing {
  padding: 100px;
  text-align: center;
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  border-radius: 14px;
  padding: 7% 15%;
}

#footer {
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}

@media (max-width: 1028px) {
  body {
    padding: 3% 8%;
  }
  
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
